<?xml version="1.0"?>
<config>    
    <modules>
        <Panchyshyn_Helloworld>
            <version>0.1.0</version>
        </Panchyshyn_Helloworld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Panchyshyn_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>  
    </frontend>
</config>