*{
    margin: 0;
    padding: 0;
}
html {
    background: #f3debc url(../images/html-bg.jpg) repeat-x 0 50px;
}
body {
    font: 13px/1 Georgia, serif;
    color: #421701;
    background: url(../images/body-bg.jpg) no-repeat 50% 50px;
    cursor: default;
}
#wrapper,
.center {
    width: 960px;
    margin: 0 auto;
}
#wrapper {
    margin-bottom: 45px;
}

/*sidebar - footer line-height:18px;*/
/* GLOBAL
   ========================================================================== */
h1,h2,h3,h4 {
    margin: 0;
    font-weight: normal;
    color: #421701;
    font-family:  Georgia, serif;
}
h2 {
    font-style: italic; 
}
.product-name a {
    color: #421701;    
}
.page-title {
    border-bottom: 2px dotted #9e5e3e;
    padding: 0 0 5px 20px;
    margin-bottom: 20px;
}
.page-title h1  {
    font-size: 25px;
    line-height: 26px;

    font-style: normal;
}
.title-buttons {
    overflow: hidden;
    text-align: right;
}
.title-buttons h1 {
    float: left;
}
.title-buttons .checkout-types {
    float: right;
}
dd {
    margin-bottom: 20px;
}
p {
    margin-bottom: 10px;
}
p.required {
    font: 12px Tahoma, sans-serif;
    color: #cc0000;
    text-align: right;
}
.required em {
    color: #cc0000;
    margin-right: 3px;
}
a, button {
    text-decoration: none;
    color: #7a2a01;
}
a:hover {
    text-decoration: underline;
}
a:hover,
button:hover {
    color: #421701;
}
address {
    font-style: normal;
    font-family: Tahoma;
}
ul, ol {
    list-style: none;
}
.ul {
    list-style: outside;
    margin-left: 15px;
}
img{
    display: block;
}
label {
    margin-bottom: 5px;
    color: #7a2a01;
    font: 12px Tahoma, sans-serif;
    margin-bottom: 5px;
}
.nobr {
    white-space: nowrap;
}
.input-text {
    border: 1px solid #c99479;
    background: #f9ecd9;
    padding: 0 10px;
    height: 26px;
    font: 13px Tahoma, sans-serif;
    color: #9e5e3e;
    border-radius: 2px;

}
.input-box {
   margin-bottom: 10px;   
}
select{
    background: #f9ecd9; 
    border: 1px solid #c99479;
    color: #9e5e3e;
    padding: 0 7px;
    height: 26px;
    font: 13px Tahoma, sans-serif;
}
select option {
    padding-right: 10px;
}
button {
    border: 0 none;
    background: url(../images/menu-hover.png) no-repeat 0 0;
    padding-left: 30px;
    height: 30px;
    font: italic 16px Georgia, serif;
}
:focus {
    outline:none;
}
::selection {
	background: #d29077;
	color: #F2DCBB;
}
::-moz-selection {
	background: #d29077;
	color: #F2DCBB;
}
.product-image {
    background: #ead0a1;
    padding: 3px;
    border: 1px dashed #9d917a;
    border-radius: 3px;
    float: left;
}
.product-name {
    font-style: italic;
}
.left {
    float: left;
}
.right {
    float: right;
}
fieldset {
    border: 0 none;
    padding: 0;
    margin: 0;
}
table {
    width: 100%;
    white-space: nowrap;
}
thead th {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    color: #f2debb;
    padding: 8px 10px 1px;
    background: url(../images/heading-bg.png) repeat-x 0 0;
}
td {
    padding: 5px 10px;
    border: 1px solid #c4693b;
    font-family: Tahoma;
}

/* Header
   ========================================================================== */
#quick-access {
  height: 50px;
  line-height: 50px;
}
#quick-access .links {
  float: right;
  font-family: Tahoma, serif;
}
#quick-access .links li {
  float: left;
  margin-left: 15px;
}
#site-name {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    float: left;
    color: #c9784f;
    margin-top: 50px;
}
#logo {
    width: 220px;
    margin: 10px auto 0;
    display: block;
}
.welcome-msg {

}
#search_mini_form {
    float: right;
    margin-top: 40px;
}
#nav {
    margin: 26px 0 2px 99px;
    overflow: hidden;    
}
#nav a {
    font: italic 18px/36px Georgia, serif;
    height: 36px;
    display: block;
    padding-left: 30px;
}
#nav .active a {
    background: url(../images/menu-hover.png) no-repeat 0 0;
    color: #421701;
    text-decoration: none
}
/* Slider
   ========================================================================== */
#slider {
    position: relative;
    margin-bottom: 13px;
}
#slider .bg {
    background: url(../images/slider-bg.png) no-repeat 0 0;
    padding: 35px 36px 43px 15px;
    z-index: 1;
    height: 263px;
    position: relative;
}
#slider .prev,
#slider .next {
    width: 55px;
    height: 54px;
    background: url(../images/slider-nav.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    left: -37px;
    top: 123px;
}
#slider .next {
    background-position: 100% 0;
    left: auto;
    right: -31px;
}
#text-block {
    width: 890px;
    height: 112px;
    background: url(../images/text-block.png) no-repeat 0 0;
    color: #7a2a01;
    line-height: 112px;
    text-align: center;
    font-style: italic;
    padding: 0 40px;
}
#text-block p {
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
#breadcrumbs {
    height: 30px;
    color: #7a2a01;
    font-size: 12px;
}
#breadcrumbs li {
    display: inline;
    font-family: Georgia,serif;
}
#breadcrumbs a {
    color: #421701;
}
/* Content
   ========================================================================== */
#main-container:after,
#checkoutSteps .col2-set:after
{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#main {
    width: 670px;
    line-height: 22px;
}
.col1-layout #main {
    width: auto;
}
.col2-left-layout #main {
    float: right;
}
.col2-right-layout #main {
    float: left;
}

/* Right Sidebar Blocks
   ========================================================================== */
.sidebar {
    width: 260px;
    line-height: 18px;
    font-size: 13px;
}
#right-sidebar {
    float: right;
}
#left-sidebar {
    float: left;
}
.sidebar h4,
.block-title
{
    font-size: 20px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 16px;
    padding-left: 7px;
}
.block-title strong {
    font-weight: normal;
}
#right-sidebar .block {
    margin-bottom: 45px;
}
.block-list li {
    border-top: 1px dotted #9e5e3e;
    padding: 5px 7px;
}
.block-account ul {
    font-family: Tahoma;   
    border: 1px solid #9e5e3e;
    border-radius: 10px;
    overflow: hidden;
}
.block-account li {
    background: #F9E9CF; 
    border-top: 1px solid #9e5e3e;
}
.block-account li.current {
    background: #9e5e3e;
    padding-left: 25px;
    color: #fff;
    
}
.block-list li a {
    background: url(../images/link.png) no-repeat 0 3px;
    padding-left: 19px;
    display: block;
    text-decoration: none;
}
.block-list li:first-child {
    border-top: 0 none;
}
/* Block Cart
======================================*/
#cart-sidebar li {
    overflow: hidden;
    padding: 10px 7px;
    border-top: 1px dotted #9e5e3e;
}
#cart-sidebar li:first-child {
    padding-top: 0;
    border-top: 0 none;
}
#cart-sidebar .product-image {
    float: left;
}
#cart-sidebar .product-details {
    padding-left: 75px;
}
#cart-sidebar .product-details p{
    padding-right: 40px;
}
#cart-sidebar .btn-remove,
#cart-sidebar .btn-edit {
    width: 15px;
    height: 15px;
    float: right;
    font-size: 0;
    text-indent: -9999px;
    background: url(../images/edit-remove-product.png) no-repeat;
    margin-left: 5px;
}
#cart-sidebar .btn-remove {
    width: 14px;
    background-position: 100% 0;
}
#cart-sidebar .btn-remove:hover {
    background-position: 100% 100%;
}
#cart-sidebar .btn-edit:hover {
    background-position: 0 100%;
}
#block-cart .actions {
    text-align: right;
    padding: 0 7px;
}
#block-cart .actions p {
    float: left;
    line-height: 30px;
}
#block-cart .actions .price {
    font-size: 15px;
}
#block-cart .empty {
    padding: 0 7px;
}

/* Pizza Hours
======================================*/
#pizza-hours {
    font-size: 12px;
}
#pizza-hours address{
    background:url(../images/address-bg.png) no-repeat 0 0;
    font-size: 16px;
    color: #f2dab6;
    padding: 10px 0 5px 15px;
    margin-bottom: 7px;
}
#pizza-hours p {
    font-family: Tahoma, sans-serif;
    padding: 0 7px;
    margin-bottom: 17px;
}
#pizza-hours p span {
    float: right;
}
/* Checkout progress
======================================*/
#checkout-progress-wrapper dt {
    padding: 10px 7px 3px;
    background: url(../images/address-bg.png) no-repeat 0 0;
    font-size: 16px;
    color: #f2dab6;
    font-style: italic;
    margin-bottom: 10px;
}
#checkout-progress-wrapper dd {
    margin-bottom: 10px;
    padding: 0 7px;
}

/* Catalog
   ========================================================================== */

/* Toolbar
======================================*/
.toolbar {
    overflow: hidden;
    margin-bottom: 20px;
}
.view-mode {
   text-align: center;
   float: left;
}
.toolbar .pages li {
    margin: 0 0 0 12px
}

.view-mode * {
    width: 30px;
    height: 30px;
    padding: 3px;
    background: #f2debc;
    border: 1px dashed #c1b091;
    font-size: 0;
    text-indent: -9999px;
    float: left;
    background: url(../images/view-mode2.png) no-repeat 0 0;
    margin-right: 6px;
}
.view-mode a. {
background-position: 0 -34px;     
}
.view-mode a.list {
    background-position: -34px -34px;    
}
.view-mode a.list:hover,
.view-mode span.list {
 background-position: -34px 0;   
}
.view-mode a.grid:hover {
    background-position: 0 0;    
}

/* Product Items
======================================*/
.category-image {
    padding: 3px;
    border: 1px dashed  #9d917a;
    border-radius: 3px;
    background: #ead0a1;
    margin-bottom: 20px;
}
#category-products .product-name {
    font-size: 20px;
}
#category-products .product-name a {
    display: inline-block;
    vertical-align: middle;
    line-height:1;
}
#category-products .item {
    border-bottom: 2px dotted #9e5e3e;
    overflow: hidden;
}
/* Products Grid
===================*/
.products-grid {
    overflow: hidden;
    margin-left: -20px;
}
.products-grid li {
    float: left;
    width: 210px;
    margin: 0 0 20px 20px;
}
.products-grid .product-name {
    padding-left: 10px;
}
.products-grid .price-box {
    text-align: center;
    font: italic 15px  Georgia, serif;
    padding: 5px 0 12px;
}
.product-tizer {
    position:relative;
}
.product-tizer button {
    width: 50px;
    height: 41px;
    background: url(../images/add-to-cart.png) no-repeat 0 0;
    position: absolute;
    bottom: 10px;
    left: 0;
}
.product-tizer .actions {
    position: absolute;
    width: 202px;
    height: 152px;
    top: 4px;
    left: 4px;
    background: rgba(0,0,0, 0.2);
    display: none;
}
.product-tizer:hover .actions {
    display: block;
}
/* Products List
===================*/
.products-list {
    margin-bottom: 20px;
}

.products-list .left {
    margin-right: 20px;
}
.products-list .product-shop {
    position: relative;
    padding: 0 150px 0 230px;
}
.products-list .item {
    padding: 20px 0 22px;
}
.products-list .item:first-child {
    border-top: 2px dotted #9e5e3e;
    padding-top: 22px;
}
.products-list .product-name {
    margin-bottom: 15px;
}
.products-list .price-box {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
}

.std li {
    color: #9e5e3e;
    background: url(../images/bullet-style1.png) no-repeat 0 0;
    padding-left: 17px;
}
.products-list .btn-cart {
    position: absolute;
    right: 0;
    bottom: 0;
}



/* Pager
   ========================================================================== */
.pages {
    text-align: center;
}
.pages li {
    display: inline-block;
    border: 1px dashed #9d917a;
    margin: 0 7px;
    border-radius: 3px;
}
.pages a {
    display: block;
    text-decoration: none;
}
.pages span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 3px solid #ead0a1;
    font-size: 18px;
    font-style: italic;
    display: block;
}
.pages .current span {
   background: #9e5e3e;
   color: #f2debc;
}
.pages a:hover {
   background: #b6845e;
   color: #f2debc;
}
.pages .next span,
.pages .previous span {
  font-size: 16px;
  width: auto;
  background: url(../images/pager-icons.png) no-repeat 0 0;
}
.pages .next span {
    background-position: 100% 10px;
    padding: 0 45px 0 17px;
}
.pages .next:hover span {
    background-position: 100% -20px;
}
.pages .previous span {
    background-position: 0 -52px;
    padding: 0 17px 0 45px;
}
.pages .previous:hover span {
    background-position: 0 -82px;
}
.product-img-box {
    float: left;
    margin-right: 20px;
}


/* Product View
   ========================================================================== */
#product-view .product-shop {
    position: relative;
    padding-left: 326px;
}
#product-view .price-box {
    font-size: 20px;
}
#product-view .product-name {
    margin-bottom: 15px;
}
.short-description {
    padding-right: 110px;
    text-align: justify;
    margin-bottom: 15px;
}
#product-view .product-image-zoom {
    width: 298px;
    height: 224px;
    position: relative;
    overflow: hidden;
}
.product-collateral {
    clear: both;
}
#qty {
    width: 17px;
    text-align: center;
}

/* Cart
   ========================================================================== */
.cart-collaterals .col2-set {
    overflow: hidden;
}
.cart-collaterals .col-2 {
    float: right;
}
.cart-collaterals .col-2 h2 {
    float: left;
    padding: 20px 20px 0 0;
    width: 190px;
    font-size: 16px;
}
.cart-collaterals input {
    width: 242px;
}
.discount-form,
.shipping-form
{
    padding-left: 20px;
    border-left: 1px solid #c4693b;
    float: left;
    padding: 20px;
}
.discount {
    overflow: hidden;
    border-bottom: 1px solid #c4693b;    
}
.shipping {
    overflow: hidden;   
}
#shopping-cart-table tfoot td {
    text-align: right;
}
#shopping-cart-table .btn-continue {
    float: left;
}
.totals {
    float: right;
    width: 367px;
}


/* Checkout
   ========================================================================== */
#checkoutSteps label {
    display: inline;
}
.active .step-title {
    background: #c4693b;
}
.step-title {
    background: #d08661;
    line-height: 30px;
    border-bottom: 1px solid #9e5e3e
}

.step-title span  {
    float: left;
    width: 15px;
    height: 15px;
    background: #f9ecd9;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    margin: 8px;
    color: #9e5e3e;
    font: 10px Tahoma, sans-serif;
}
.step-title h2 {
    color: #f2dab6;
    font-size: 16px;
}
.step-title a {
    display: none;
}
.step {
    padding: 20px;
}
#checkout-step-login h3 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dotted #9e5e3e;
    padding-bottom: 9px;
    margin-bottom: 10px;
}
#checkoutSteps h4 {
    font-weight: bold;
}
#checkoutSteps .col-1,
#checkoutSteps .col-2 {
    width: 290px;
}
#checkoutSteps .col-1 {
    float: left;
    border-right: 1px dotted #9e5e3e;
    padding-right: 26px
}
#checkoutSteps .col-2 {
    float: right;
}
#checkoutSteps .col-2 h3 {
    padding-top: 22px;
}
.form-list {
    margin-bottom: 10px;
}

#login-form input {
    width: 268px;
}
.buttons-set {
    overflow: hidden;
}
.buttons-set button.button {
    float: right;
}
.buttons-set a,
.buttons-set p {
    line-height: 30px;
    margin: 0
}


.form-list .fields {
    overflow: hidden;
}
.form-list .field {
    float: left;
}
.form-list .fields .field {
    width: 305px;
    margin-left: 20px;   
}
.form-list .fields .field:first-child {
    margin-left: 0;
}
.form-list .input-text {
    width: 283px;
}
.form-list .fields .input-text {
    width: 283px;
}
.form-list .wide .input-text {
    width: 608px
}
.form-list select {
    width: 305px;
}
.validation-advice {
    font: 12px Tahoma;
    color: #cc0000;
    padding: 2px  0 0 10px;
}
.validation-failed {
    border-color: #cc0000;
}
.buttons-set .back-link {
    float: left;
}

/* Account
   ========================================================================== */
.box-account, .block {
    margin-bottom: 20px;
}
.my-account .col2-set {
    overflow: hidden;
}
.my-account .col-1,
.my-account .col-2 {
  width: 300px;  
}
.my-account .col-1 {
    float: left;
}
.my-account .col-2 {
    float: right;
}
.my-account .limiter {
    text-align: right;
}
.my-account .amount {
    float: left;
    margin: 0;
}
.my-account h2 {
    margin-bottom: 10px;
}
.my-account h3 {
    font-weight: bold;
    font-size: 13px;
}
.my-account h4 {
    font-style: italic;
}



.box-account .box-title {
    border-bottom: 1px dotted #9e5e3e;
    overflow: hidden;
    text-align: right;
    margin-bottom: 5px;
    padding-bottom: 4px;
}
.box-account .box-title h3 {
    float: left;
}
.box-title h3{
    font-weight: bold;
}
.box-head {
    text-align: right;
    overflow: hidden;
}
.box-head h2 {
    float: left;
}
.box-account ,.addresses-list, .fieldset {
    border: 1px solid #9e5e3e;
    padding: 18px;
    background: #F9E9CF;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* Footer
   ========================================================================== */
#footer {
    background: url(../images/footer-top-bg.png) repeat-x 0 0;
    padding-top: 34px;
    line-height: 18px;
}
#footer a {
    color: #c9784f;
}
#footer .top-block {
    background: #7a2a01;
    color: #f2dcbb;
    padding: 10px 0 20px;
}
#footer .bot-block {
    height: 47px;
    line-height: 60px;
    background: url(../images/footer-bot-bg.png) repeat-x 0 0;
}