*{
    margin: 0;
    padding: 0;
}
html {
    background: #fedda5 url(../images/html-bg.png) repeat-x 0 50px;
}
body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #9d4620;
    background: url(../images/body-bg.jpg) no-repeat 50% 50px;
    line-height: 1;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
}
/* UI
   ========================================================================== */
h1{
    margin: 0;
}
a {
    text-decoration: none;
    color: #9d4620;
}
a:hover {
    color: #531a01;
}
ul {
    list-style: none;
}
img{
    display: block;
}
input {
    border: 1px solid #eee;
    padding: 10px;
}
button {
    border: 1px solid #eee;
    padding: 10px;
    background: #fff;
}
:focus {
    outline:none;
}
::selection {
	background: #d29077;
	color: #F2DCBB;
}
::-moz-selection {
	background: #d29077;
	color: #F2DCBB;
}
/* Header
   ========================================================================== */
#quick-access {
  height: 50px;
  line-height: 50px;
}
#quick-access .links {
    float: right;
}
#quick-access .links li {
  float: left;
  margin-left: 15px;
}
#site-name {
    font:  italic normal 16px Georgia,serif;
    float: left;
    color: #FDE1D7;
    margin-top: 50px;
}
#logo {
    width: 220px;
    margin: 10px auto 0;
    display: block;
}
.welcome-msg {
  font:  italic normal 13px/50px Georgia,serif;   
}
#search_mini_form {
    float: right;
    margin-top: 40px;
}

/* Slider
   ========================================================================== */
#slider {
    position: relative;
    margin-bottom: 13px;
}
#slider .bg {
    background: url(../images/slider-bg.png) no-repeat 0 0;
    padding: 35px 36px 43px 15px;
    z-index: 1;
    height: 263px;
    position: relative;
}
#slider .prev,
#slider .next {
    width: 55px;
    height: 54px;
    background: url(../images/slider-nav.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    left: -37px;
    top: 123px;
}
#slider .next {
    background-position: 100% 0;
    left: auto;
    right: -31px;
}

/* Content
   ========================================================================== */
#main-container {
    overflow: hidden;
}
#main {
    width: 670px;
    float: left;
}
#right-sidebar {
    width: 260px;
    float: right;
}